Create a text box, create a button, when you click the button it should call the api.
The function after you click the button should be in the js file. 

<div>
    <label>name</label>
    <input type="text" id="name" ><br>
    <input type="button" id="submit" value="save">
</div>

<script src="~/app-scripts/callapi.js"></script>